.spending
  .spendig__head
    =@user
    様の支出一覧
    .spendig__head__contents
      .spendig__head__contents__new
        = link_to "支出の新規登録", :new_spending
      .spendig__head__contents__top
        = link_to "topへ", :root

  .spending__main
    -@sums = {}
    -@pie_charts = {}
    -@spendings.each do |spending|
      -year_month = spending.year_month.strftime('%Y-%m')
      -unless @sums.has_key?(year_month)
        -@sums[year_month] = 0
        -@pie_charts[year_month] = {}
      -unless @pie_charts[year_month].has_key?(spending.name)
        -@pie_charts[year_month][spending.name] = 0
      -@sums[year_month] += spending[:value]
      -@pie_charts[year_month][spending.name] += spending.value
    .spending__main__sum
      月別集計
      -@pie_charts.each do |key, chart|
        -sum = 0
        -chart.each do |_, value|
          -sum += value
        %p 年月:#{key}月
        %p 合計金額: #{sum} 円
        = pie_chart(chart)





- if @spendings.present?
  %table
    %thead
      %tr
        %th カテゴリー
        %th 日付
        %th 価格
    %tbody
      - @spendings.each do |spending|
        %tr
          %td= spending.name
          %td= spending.year_month
          %td= spending.value
          %td
            = link_to "編集", [:edit, spending]
            = link_to "削除", spending, method: :delete
- else
  %p 登録されている収入科目がありません。