%h1 収入科目登録
%h3 収入科目の詳細
= link_to "収入科目一覧に戻る", :incomes
%table
  %tr
    %th
    = form.label :name, "カテゴリー" 
    %td
    = form.text_field :name
    %th
    = form.label :year_month, "年月"
    %td
    = form.date_select :year_month
    %th
    = form.label :value, "価格"
    %td
    = form.number_field :value
