.income
  .income__head
    収入一覧
    .income__head__contents
      .income__head__contents__new
        = link_to "収入の新規登録", :new_income
      .income__head__contents__top
        = link_to "topへ", :root, class:"top"
      .income__head__contents__goukei
        = "合計金額#{@goukei}円"

  .income__main
    -@sums = {}
    -@pie_charts = {}
    -@incomes.each do |income|
      -year_month = income.year_month.strftime('%Y-%m')
      -unless @sums.has_key?(year_month)
        -@sums[year_month] = 0
        -@pie_charts[year_month] = {}
      -unless @pie_charts[year_month].has_key?(income.name)
        -@pie_charts[year_month][income.name] = 0
      -@sums[year_month] += income[:value]
      -@pie_charts[year_month][income.name] += income.value
    .income__main__sum
      -@pie_charts.each do |key, chart|
        %p #{chart}
        -chart.each do |c|
        = pie_chart(chart)

- if @incomes.present?
  %table
    %thead
      %tr
        %th カテゴリー
        %th 日付
        %th 価格
    %tbody
      - @incomes.each do |income|
        %tr
          %td= income.name
          %td= income.year_month
          %td= income.value
          %td
            = link_to "編集", [:edit, income]
            = link_to "削除", income, method: :delete
- else
  %p 登録されている収入科目がありません。