- @page_title = "収入一覧"
%h1.title
= @page_title
.sinki
= link_to "収入の新規登録", :new_income
%h2
= link_to "topへ", :root, class:"top"
%h3= "合計金額#{@goukei}円"

-# %h4
-# - @sums = {}
-#   -@incomes.each do |income|
-#   - year_month = income.year_month.strftime('%Y-%m')
-#     -unless @sums.has_key?(year_month)
-#     - @sums[year_month] = 0
-#     -@sums[year_month] += income[:value]
-# - @sums.each do |k, v|
-#   = "#{k}月: #{v}円"


 
    


%h4
収入割合
= pie_chart (@incomes_chart)

- if @incomes.present?
  %table
    %thead
      %tr
        %th カテゴリー
        %th 日付
        %th 価格
    %tbody
      - @incomes.each do |income|
        %tr
          %td= income.name
          %td= income.year_month
          %td= income.value
          %td
            = link_to "編集", [:edit, income]
            = link_to "削除", income, method: :delete
- else
  %p 登録されている収入科目がありません。